@page
@model Quiz_Game.Views.Home.ResultsModel
    <div class="text-center">
        <h1 class="display-4">Quiz Results</h1>
        <h3>Thanks for playing!</h3>
    </div>
<h1> </h1>
<p>You scored @ViewBag.NumCorrect correct out of 10</p>


<a asp-action="Index"> Try quiz again</a>

