@page
@model Quiz_Game.Views.Home.ResultsModel
    <div class="text-center">
        <h1 class="display-4">Quiz Results</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
<h1> </h1>
<p>You scored @ViewBag.NumCorrect Correct</p>


<a asp-action="Index"> Try another quiz</a>

